body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

.logo {
    width: 50px;
    margin: 50px auto 0;
    display: block;
    opacity: 0.33;
    transition: opacity 1s;
    filter: invert(100%);
    position: absolute;
    top: 80%;
    left: 50%;
    right: 50%;
}

.logo:hover {
    opacity: 1;
    transition: opacity 1s;
}

#weatherReport {
    width: 400px;
    min-height: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -150px -200px;
    text-align: center;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px #e3e7eb;
}

#title {
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#bar {
    width: 50%;
    border-color: #ffffff;
    display: none;
}

#icon {
    display: none;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 2px 3px 10px #e3e7eb;
}

#city {
    font-weight: 100;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#description {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
}

#temp {
    font-size: 40px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.switch {
    position: absolute;
    display: none;
    width: 60px;
    height: 34px;
    top: 80%;
    left: 50%;
    margin: -17px -30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #c8102e;
}

input:focus+.slider {
    box-shadow: 0 0 1px #c8102e;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
